<a href="https://colab.research.google.com/github/AkshayRai20/Projects1/blob/main/Akshay_Team_6_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/drive/My Drive/Cohort Aravali/CohortAravali-201005-153433.zip (Unzipped Files)/AlmaBetter/Module 2/Week 1/hotel_bookings.csv")

In [ ]:
df.head(3)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02

[3 rows x 32 columns]

In [ ]:
df[['is_canceled','reservation_status']][0:150] ###Checking for relation between 'is_cancelled' and 'reservation_status'###

     is_canceled reservation_status
0              0          Check-Out
1              0          Check-Out
2              0          Check-Out
3              0          Check-Out
4              0          Check-Out
..           ...                ...
145            0          Check-Out
146            0          Check-Out
147            0          Check-Out
148            1           Canceled
149            1           Canceled

[150 rows x 2 columns]

In [ ]:
df['country'].unique() ###Countries###

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', nan, 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [ ]:
df['meal'].unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined'], dtype=object)

In [ ]:
df['market_segment'].unique()

array(['Direct', 'Corporate', 'Online TA', 'Offline TA/TO',
       'Complementary', 'Groups', 'Undefined', 'Aviation'], dtype=object)

In [ ]:
df['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS'], dtype=object)

In [ ]:
df['is_repeated_guest'].unique()

array([0, 1])

In [ ]:
df.head(3)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02

[3 rows x 32 columns]

In [ ]:
df['assigned_room_type'].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K'],
      dtype=object)

In [ ]:
df[['reserved_room_type','assigned_room_type','adr']] ###Checking for relation between ADR and room types###

       reserved_room_type assigned_room_type     adr
0                       C                  C    0.00
1                       C                  C    0.00
2                       A                  C   75.00
3                       A                  A   75.00
4                       A                  A   98.00
...                   ...                ...     ...
119385                  A                  A   96.14
119386                  E                  E  225.43
119387                  D                  D  157.71
119388                  A                  A  104.40
119389                  A                  A  151.20

[119390 rows x 3 columns]

In [ ]:
df[['agent','company','market_segment']]

        agent  company market_segment
0         NaN      NaN         Direct
1         NaN      NaN         Direct
2         NaN      NaN         Direct
3       304.0      NaN      Corporate
4       240.0      NaN      Online TA
...       ...      ...            ...
119385  394.0      NaN  Offline TA/TO
119386    9.0      NaN      Online TA
119387    9.0      NaN      Online TA
119388   89.0      NaN      Online TA
119389    9.0      NaN      Online TA

[119390 rows x 3 columns]

In [ ]:
df[['babies','children','total_of_special_requests']]  ###Checking for relation between kids and special requests####

        babies  children  total_of_special_requests
0            0       0.0                          0
1            0       0.0                          0
2            0       0.0                          0
3            0       0.0                          0
4            0       0.0                          1
...        ...       ...                        ...
119385       0       0.0                          0
119386       0       0.0                          2
119387       0       0.0                          4
119388       0       0.0                          0
119389       0       0.0                          2

[119390 rows x 3 columns]

In [ ]:
df.iloc[119387]

hotel                             City Hotel
is_canceled                                0
lead_time                                 34
arrival_date_year                       2017
arrival_date_month                    August
arrival_date_week_number                  35
arrival_date_day_of_month                 31
stays_in_weekend_nights                    2
stays_in_week_nights                       5
adults                                     2
children                                   0
babies                                     0
meal                                      BB
country                                  DEU
market_segment                     Online TA
distribution_channel                   TA/TO
is_repeated_guest                          0
previous_cancellations                     0
previous_bookings_not_canceled             0
reserved_room_type                         D
assigned_room_type                         D
booking_changes                            0
deposit_type                      No Deposit
agent                                      9
company                                  NaN
days_in_waiting_list                       0
customer_type                      Transient
adr                                   157.71
required_car_parking_spaces                0
total_of_special_requests                  4
reservation_status                 Check-Out
reservation_status_date           2017-09-07
Name: 119387, dtype: object

AttributeError: ignored